<!DOCTYPE html>
<html lang="ru">
{% csrf_token %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css"%}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Хочу навес</title>
</head>
<body>
    <header>
        <div class="header__container wrapper">
            <a href={% url 'home:all' %} class="logo__link">
                <div class="logo header__logo">Хочу навес</div>
            </a>
            <nav>
                <a href={% url 'home:calc' %} class="nav__link">
                    <div class="nav__option">Калькулятор</div>
                </a>
                <div class="dropdown">
                    <button>Типы навесов</button>
                    <div class="dropdown-content">
                        <a href={% url 'home:polycarb' %}>Поликарбонат</a>
                        <a href={% url 'home:metalprof' %}>Металлопрофиль</a>
                        <a href={% url 'home:monolith' %}>Монолит</a>
                        <a href={% url 'home:softroof' %}>Мягкая кровля</a>
                        <a href={% url 'home:wood' %}>Дерево</a>
                        <a href={% url 'home:profpipe' %}>Профильная труба</a>
                        <a href={% url 'home:metaltile' %}>Металлочерепица</a>
                        <a href={% url 'home:forg' %}>Ковка</a>
                    </div>
                </div>
                <a href={% url 'home:cont' %} class="nav__link">
                    <div class="nav__option">Контакты</div>
                </a>
                <a href={% url 'home:cert' %} class="nav__link">
                    <div class="nav__option">Сертификация</div>
                </a>
            </nav>
            <button href="#" class="burger__link">
                <img src={% static "img/menu.svg" %} alt="menu" class="burger__icon">
            </button>
            <div class="menu">
                    <button href="#" class="cross__link">
                        <img src={% static "img/cross.svg" %} alt="cross" class="cross__icon">
                    </button>
                <div class="menu__container">
                    <a href={% url 'home:all' %} class="logo__link">
                        <div class="logo menu__logo">Хочу навес</div>
                    </a>
                    <li><a href={% url 'home:calc' %}>Калькулятор</a></li>
                    <li><a href={% url 'home:cont' %}>Контакты</a></li>
                    <li><a href={% url 'home:cert' %}>Сертификация</a></li>
                </div>
            </div> 
        </div>
    </header>
<section class="types wrapper">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Заявка отправлена</h1>
    <h1>Спасибо за обращение!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
    <footer class="wrapper">
        <a href={% url 'home:all' %} class="logo__link">
            <div class="logo">Хочу навес</div>
        </a>
        <div class="types">
            <div class="types__header">Типы навесов</div>
            <ul class="types__content">
                <li><a href={% url 'home:polycarb' %}>Поликарбонат</a></li>
                <li><a href={% url 'home:metalprof' %}>Металлопрофиль</a></li>
                <li><a href={% url 'home:monolith' %}>Монолит</a></li>
                <li><a href={% url 'home:softroof' %}>Мягкая кровля</a></li>
                <li><a href={% url 'home:wood' %}>Дерево</a></li>
                <li><a href={% url 'home:profpipe' %}>Профильная труба</a></li>
                <li><a href={% url 'home:metaltile' %}>Металлочерепица</a></li>
                <li><a href={% url 'home:forg' %}>Ковка</a></li>
                <li><a href={% url 'home:calc' %}>Калькулятор стоимости</a></li>
            </ul>
        </div>
        <div class="types">
            <div class="types__header">О нас</div>
            <ul class="types__content">
                <li><a href={% url 'home:cont' %}>Карточка предприятия</a></li>
                <li><a href={% url 'home:cert' %}>Сертификация</a></li>
                <li><a href={% url 'home:privpol' %}>Политика<br>конфиденциальности</a></li>
            </ul>
        </div>
        <div class="types">
            <div class="types__header">О нас</div>
            <ul class="types__content">
                <li>+7 (***) *** **-**</li>
                <li>youremail@mail.ru</li>
            </ul>
        </div>
    </footer>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src={% static "js/materials.js" %}></script>  
    <script src={% static "js/menu.js" %}></script>
    <script src={% static "js/call.js" %}></script>
    <script src={% static "js/script.js"%}></script>
</body>
</html>